<h2>Turnos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{tn.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoturno" ng-click="tn.nuevoTurno()">
		  {{tn.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			    <div class="row">
			    <div class="col-sm-2" valida>
				    <label>Día Inicial *</label>
				    <select ng-model="tn.turno.diaInicial" class="form-control" name="diaInicial">
					    <option value="L">L</option>
					    <option value="Ma">Ma</option>
					    <option value="Mi">Mi</option>
					    <option value="J">J</option>
					    <option value="V">V</option>
					    <option value="S">S</option>
					    <option value="D">D</option>
				    </select>
			    </div>
			    <div class="col-sm-2" valida>
				    <label>Día Final *</label>
				    <select ng-model="tn.turno.diaFinal" class="form-control" name="diaFinal">
					    <option value=""></option>
					    <option value="L">L</option>
					    <option value="Ma">Ma</option>
					    <option value="Mi">Mi</option>
					    <option value="J">J</option>
					    <option value="V">V</option>
					    <option value="S">S</option>
					    <option value="D">D</option>
				    </select>
			    </div>
			    <div class="col-sm-3" valida>
				    <label>Cant. Asistencias *</label>
			    	<input name="asistsencias" type="number" class="form-control" placeholder="Asistencias" ng-model="tn.turno.asistencias" required="">
			    </div>
			    <div class="col-sm-3" valida>
				    <label>Cant. Inasistencias *</label>
			    	<input name="inasistsencias" type="number" class="form-control" placeholder="Inasistencias" ng-model="tn.turno.inasistencias" required="">
			    </div>
			    <div class="col-sm-2" valida>
				    <label>Hora Inicio *</label>
			    	<input name="inicio" type="number" min="0" max="23" class="form-control"  ng-model="tn.turno.horaInicio" required="">
			    </div>
			    <div class="col-sm-2" valida>
				    <label>Hora Fin *</label>
			    	<input name="final" type="number" min="{{tn.turno.horaInicio}}" max="23" class="form-control"  ng-model="tn.turno.horaFin" required="">
			    </div>
				</div>
			</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="tn.guardar(tn.turno,form)" value="Guardar" class="btn btn-primary" ng-show="tn.action" valida-form formulario="form">
						<input type="submit" ng-click="tn.actualizar(tn.turno,form)" value="Actualizar" class="btn btn-primary" ng-show="!tn.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="27%"><div class="text-center">Turno</div></th>
					<th width="12%"><div class="text-center">Asistencias</div></th>
					<th width="12%"><div class="text-center">Inasistencias</div></th>
					<th width="12%"><div class="text-center">Hora Inicio</div></th>
					<th width="12%"><div class="text-center">Hora Final</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="turno in tn.turnos">
			    <td>{{$index + 1}}</td>			    
			    <td>{{turno.nombre}}</td>
			    <td>{{turno.asistencias}}</td>
			    <td>{{turno.inasistencias}}</td>
			    <td>{{turno.horaInicio}}</td>
			    <td>{{turno.horaFin}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="turno.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!turno.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
							    <li><a href="#" ng-click="tn.editar(turno._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="tn.cambiarEstatus(turno._id)">
							    				<i class="fa fa-{{turno.estatus ? 'trash' : 'check' }}"></i> {{turno.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


