<h2>Campus</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{cp.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevocampus" ng-click="cp.nuevoCampus()">
		 {{cp.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>		
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-1">					    
				    	<label>Clave</label>
				    	<input name="clave" type="text" class="form-control" placeholder="Clave" ng-model="cp.campus.clave" readonly="">
			    	</div>
			    	<div class="col-sm-11" valida>					    
				    	<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="cp.campus.nombre" required="" minlength="4">
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
					    <label>Descripción</label>
					    <textarea name="descripcion" class="form-control" placeholder="Descripción" ng-model="cp.campus.descripcion"></textarea>
			    	</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="cp.guardar(cp.campus,form)" value="Guardar" class="btn btn-primary" ng-show="cp.action" valida-form formulario="form"/>
						<input type="submit" ng-click="cp.actualizar(cp.campus,form)" value="Actualizar" class="btn btn-primary" ng-show="!cp.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Clave</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Descripción</div></th>	
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="campus in cp.campuses">
			    <td>{{campus.clave}} </td>
			    <td><a ui-sref="root.secciones({campus_id : campus._id})">{{campus.nombre}}</a></td>
			    <td>{{campus.descripcion}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="campus.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!campus.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="cp.editar(campus._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="cp.cambiarEstatus(campus._id)"><i class="fa fa-{{campus.estatus ? 'trash' : 'check' }}"></i> {{campus.estatus ? "Desactivar" : "Activar" }}</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>