<h2>Turnos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{tn.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoturno" ng-click="tn.nuevoTurno()">
		  {{tn.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" novalidate >
		  	<div class="well">	    
			    <div class="row">
			    <div class="col-sm-4">
				    <label>Turno</label>
			    	<input type="text" class="form-control" placeholder="Turno" ng-model="tn.turno.nombre" required>
			    </div>
				</div>
			</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="tn.guardar(turno)" value="Guardar" class="btn btn-primary" ng-show="tn.action">
						<input type="submit" ng-click="tn.actualizar(turno)" value="Actualizar" class="btn btn-primary" ng-show="!tn.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Turno</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="turno in tn.turnos">
			    <td>{{turno.nombre}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="turno.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!turno.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="tn.editar(turno._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="tn.cambiarEstatus(turno._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


