<div class="row" ng-repeat="grupo in masgrupo.gruposMaestro">	
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default coupon">
      <div class="panel-heading" id="head">
        <div class="panel-title" id="title">
            <h4>{{grupo.asignacion.materia.nombre}}<span class="pull-right">{{grupo.grupo.identificador}} - {{grupo.grupo.nombre}}</span></h4>
        </div>
      </div>
      <div class="panel-body">
	      <div class="col-sm-12 col-md-3">
					<ul class="items">
			      <li><a ui-sref="root.asistenciaGrupo({grupo_id : grupo.grupo._id, materia_id : grupo.asignacion.materia_id, maestro_id : grupo.asignacion.maestro_id})"><i class="fa fa-list"></i> Tomar asistencia</a></li>
			      <li><a ui-sref="root.verAsistencias({grupo_id : grupo.grupo._id, materia_id : grupo.asignacion.materia_id, maestro_id : grupo.asignacion.maestro_id})"><i class="fa fa-eye"></i> Ver asistencia</a></li>
			      <li><a ui-sref="root.capturarCalificaciones({grupo_id : grupo.grupo._id, materia_id : grupo.asignacion.materia_id, maestro_id : grupo.asignacion.maestro_id})" ><i class="fa fa-check"></i> Capturar calificaciones</a></li>
			      <li><a ui-sref="root.verCalificaciones({grupo_id : grupo.grupo._id, materia_id : grupo.asignacion.materia_id, maestro_id : grupo.asignacion.maestro_id})"><i class="fa fa-eye"></i> Ver calificaciones</a></li>
			      <li><a ui-sref="root.planeacionClase({grupo_id : grupo.grupo._id, materia_id : grupo.asignacion.materia_id, maestro_id : grupo.asignacion.maestro_id})"><i class="fa fa-bookmark"></i> Planear la Clase</a></li>
			      <li><a ui-sref="root.maestroForos({grupo_id : grupo.grupo._id})"><i class="fa fa-comments-o"></i> Foros</a></li>
			    </ul>
			    <div class="offer">
			      <span class="usd"><sup>#</sup></span>
			      <span class="number">{{grupo.alumnos.length}}</span>
			      <span class="cents"><sup>Alumnos</sup></span>
			    </div>
				</div>				
				<div class="col-sm-12 col-md-9">
					<div class="row-alumnos-fluid" style="overflow: auto;">
						<div class="col-lg-alumnos-3" ng-repeat="alumno in grupo.alumnos track by $index">
<!-- 	        <a href="#" target="_blank" ui-sref="root.alumnoDetalle({alumno_id : alumno._id})" style="text-decoration:none;"> -->
	            <span >
		            <div class="card hovercard">
	                <div class="cardheader"></div>
	                <div class="avatar">
	                  <img ng-src="{{masgrupo.tieneFoto(alumno.profile.sexo, alumno.profile.fotografia)}}" >
	                </div>
	                <div class="info">
	                  <p class="font-xs" style="margin: 0px;">
	                    {{alumno.profile.nombre}}<br/> {{alumno.profile.apPaterno}}<br/> {{alumno.profile.apMaterno}}
	                  </p>
	                </div>
	            	</div>
	            </span>
						</div>	
					</div>
				</div>
      </div>
      <div class="panel-footer">
        <div class="coupon-code">
            Hoy es: {{masgrupo.hoy}}            
        </div>        
      </div>
    </div>
	</div>
</div>