<div class="row">
	<div class="col col-sm-12">
		<section id="widget-curricula" data-widget-grid="data-widget-grid">
		  <div class="row">
		    <div class="col-sm-12">
		      <div data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-jarvis-widget="data-jarvis-widget">
		        <header>
		          <h2>Kardex</h2>
		        </header>
		        <div>
		          <div class="widget-body">
		            <table class="table table-bordered table-responsive" ng-repeat="planEstudio in k.curriculas">						
									<tr ng-repeat="(key, value) in planEstudio.grados" >
										<th width="5%"><div class="text-center">{{key + 1}}</div></th>
										<td ng-repeat="_materia in planEstudio.grados[key]" 
												ng-class="_materia.aprobado == true ? 'bg-color-green txt-white' : _materia.aprobado != undefined ? 'bg-color-red text-white' : ''" style="padding-bottom: 3px !important;">
											<div class="row">
												<div class="col-sm-8" ng-class="_materia.aprobado == true ? 'txt-white' : _materia.aprobado != undefined ? 'txt-white' : ''">
													<strong>{{_materia.materia.nombreCorto}}</strong>
												</div>
											</div>
											<p style="margin-bottom: 0px !important;" ng-class="_materia.aprobado == true ? 'txt-white' : _materia.aprobado != undefined ? 'txt-white' : ''"><small>{{_materia.materia.nombre}}</small></p>	
											<p style="margin-bottom: 0px !important;" ng-if="_materia.aprobado != undefined" ng-class="_materia.aprobado == true ? 'txt-white' : _materia.aprobado != undefined ? 'txt-white' : ''"><small>Calif. {{_materia.calificacion}}</small></p>	
										</td>
									</tr>
								</table>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>	
	</div>
</div>