<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa-fw fa fa-dollar"></i> Pagos - Semana {{da.semanaActual}} - Año {{da.anio}}
		</h1>		
	</div>
</div>
<div class="row">
	<div class="col-sm-6 text-center">
		<form class="form-inline">
			<div class="form-group">
				<label for="semanaActual">Semana</label>
				<input name="semanaActual" type="number" min="0" max="52" ng-model="de.semanaActual" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="anio">Año</label>
				<input name="anio" type="number" ng-model="de.anio" class="form-control"/>
			</div>
		</form>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-primary" ng-click="de.getPagosPorSemana()"><i class="fa fa-dollar"></i> Buscar</button>
	</div>
	<div class="col-sm-3">
		<button class="btn btn-primary pull-right" ng-click="de.imprimir('pagadores')"><i class="fa fa-print"></i> Imprimir</button>
	</div>
</div>
<div class="row" id="pagadores">
	<div class="col-xs-12">
		<table class="table table-bordered">
			<tr>
				<th class="text-center" width="5%">No.</th>
				<th class="text-center" width="25%">Alumno</th>
				<th class="text-center" width="20%">Fecha Pago</th>
				<th class="text-center" width="15%">Tipo Plan</th>
				<th class="text-center" width="15%">Semana que pagó</th>
				<th class="text-center" width="20%">Usuario</th>
			</tr>
			<tr ng-repeat="pago in de.pagosPorSemana">
				<td class="text-center">{{$index + 1}}</td>
				<td>{{pago.alumno.profile.nombreCompleto}}</td>
				<td class="text-center">{{pago.fechaPago | date:"dd-MM-yyyy hh:mm:ss"}}</td>
				<td class="text-center">{{pago.tipoPlan}}</td>
				<td><span ng-repeat="semana in pago.semanasPagadas"> {{semana}} |</span></td>
				<td class="text-center">{{pago.usuario.profile.nombreCompleto}}</td>
			</tr>
		</table>
	</div>
</div>