<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i> 
				{{gp.grupo.nombre}}
			<span>&gt; 
				{{gp.asignacion.materia.nombre}}
			</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<a class="btn btn-primary" href="./grupos">
		  Listar Grupos
		</a>
	</div>
	<div class="col-sm-6">
		<label for="noAlumnos">Agregar alumnos</label>
		<input type="text" ng-model="gp.buscar.nombre" class="form-control" ng-change="gp.buscandoNoAlumno()">
		<div class="ajax-dropdown" ng-show="gp.buscando" style="display: block; width: 100% !important;">
			<div class="ajax-notifications custom-scroll">
				<div class="alert alert-transparent">
					<table class="table">
						<thead>
						<tr>
							<th>Foto</th>
							<th>Matrícula</th>
							<th>Nombre</th>
							<td>Agregar</td>
						</tr>
						</thead>
						<tbody>
							<tr ng-repeat="alumno in gp.balumnos">
								<td><img src="{{gp.tieneFoto(alumno.profile.sexo, alumno.profile.fotografia)}}" style="width: 70px;border-left: 4px solid #fff;"></td>
								<td>{{alumno.profile.matricula}}</td>
								<td>{{alumno.profile.nombreCompleto}}</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm" ng-click="gp.agregarAlumno(alumno._id, inscripcion._id, alumno.profile.nombreCompleto)" ng-repeat="inscripcion in alumno.profile.inscripciones">
										<i class="fa fa-plus fa-fw"></i> {{inscripcion.fechaInscripcion | date:"d-M-yy"}}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span> Última actualización: {{gp.hoy | date:"dd-MM-yyyy HH:mm a"}}
				<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cerrar..." class="btn btn-xs btn-default pull-right" ng-click="gp.buscando = false; gp.buscar.nombre = ''">
					<i class="fa fa-times"></i>
				</button> 
			</span>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center" width="5%">No.</th>
					<th class="text-center" width="10%">Foto</th>
					<th class="text-center" width="15%">Matrícula</th>
					<th class="text-center">Nombre</th>
					<th class="text-center" width="10%">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="alumno in gp.alumnos">
					<td class="text-center">{{$index + 1}}</td>
					<td class="text-center">
						<img src="{{gp.tieneFoto(alumno.profile.sexo, alumno.profile.fotografia)}}" style="width: 70px;border-left: 4px solid #fff;">
					</td>
					<td class="text-center">{{alumno.profile.matricula}}</td>
					<td><a href="/alumnos/{{alumno._id}}">{{alumno.profile.nombreCompleto}}</a></td>
					<td>
						<div class="text-center">
							<a href="#" ng-click="gp.quitarAlumno(alumno._id)"><i class="fa fa-trash"></i> Eliminar</a>
				    </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>