<nav>
	<div ng-include="'client/home/_admin.html'" ng-if="currentUser.roles[0] == 'admin'"></div>
	<div ng-include="'client/home/_director.html'" ng-if="currentUser.roles[0] == 'director'"></div>
	<div ng-include="'client/home/_coordinadorAcademico.html'" ng-if="currentUser.roles[0] == 'coordinadorAcademico'"></div>
	<div ng-include="'client/home/_coordinadorFinanciero.html'" ng-if="currentUser.roles[0] == 'coordinadorFinanciero'"></div>	
	<div ng-include="'client/home/_maestro.html'" ng-if="currentUser.roles[0] == 'maestro'"></div>
	<div ng-include="'client/home/_gerenteVenta.html'" ng-if="currentUser.roles[0] == 'gerenteVenta'"></div>
	<div ng-include="'client/home/_vendedor.html'" ng-if="currentUser.roles[0] == 'vendedor'"></div>
	<div ng-include="'client/home/_recepcionista.html'" ng-if="currentUser.roles[0] == 'recepcionista'"></div>
	<div ng-include="'client/home/_alumno.html'" ng-if="currentUser.roles[0] == 'alumno'"></div>
</nav>