<!-- <h2>Vendedores</h2> -->
<div class="row well">
	<form name="form" class="form-horizontal" role="form" novalidate style="margin: auto;">
		<div class="col-sm-2 col-sm-offset-4 text-center" valida>
			<label for="fechaInicial">Fecha Inicial *</label>
			<input name="fechaInicial" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="p.fechaInicial" required="" />
		</div>
		<div class="col-sm-2 text-center" valida>
			<label for="fechaFinal">Fecha Final *</label>
			<input name="fechaFinal" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="p.fechaFinal" required="" />
		</div>
		<div class="col-sm-2">
			<button class="btn btn-primary" ng-click="p.getProspectos(p.fechaInicial, p.fechaFinal);p.getEtapas(p.fechaInicial, p.fechaFinal)">Buscar</button>
		</div>
	</form>
</div>

<div id="prospectosPorMediosPublicidad"></div><br/>


<div id="prospectosSoloEtapaVenta"></div>