<h2>Generaciones</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{gen.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevogeneracion" ng-click="gen.nuevoGeneracion()">
		 {{gen.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-12">	
					    <div class="col-sm-4" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="gen.generacion.nombre" required="">
					    </div>
				    	<div class="col-sm-4">
								<label for="inicial">Fecha Inicial</label>
								<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="gen.generacion.inicial"/>
							</div>
							<div class="col-sm-4">
								<label for="final">Fecha final</label>
								<input date-time class="form-control" view="year" max-view="year" min-view="date" ng-model="gen.generacion.final"/>
							</div>			 			  
			    	</div>
			    </div>  
		    </div> 
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="gen.guardar(gen.generacion,form)" value="Guardar" class="btn btn-primary" ng-show="gen.action" valida-form formulario="form">
						<input type="submit" ng-click="gen.actualizar(gen.generacion,form)" value="Actualizar" class="btn btn-primary" ng-show="!gen.action" valida-form formulario="form">	
					</div>
				</div>
		  </form>
		</div>
	</div>
</div>
<br/>

<!--<div class="generaciones-form">
    <form action="filtro">
     <input type="date" name="filtro[fechaInicial]">
     <input type="date" name="filtro[fechaFinal]">
     <button class="btn btn-primary" type="submit">Buscar</button>
  </form>
  </div>-->


<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
      	<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="35%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Fecha Inicial</div></th>
					<th width="20%"><div class="text-center">Fecha Final</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="generacion in gen.generaciones">
			    <td>{{$index + 1}}</td>			    
			    <td>{{generacion.nombre}}</td>
			    <td>{{generacion.inicial | date:"dd-MM-yyyy"}}</td>
			    <td>{{generacion.final | date:"dd-MM-yyyy"}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="generacion.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!generacion.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
							    <li><a href="#" ng-click="gen.editar(generacion._id)"><i class="fa fa-pencil"></i> Editar</a></li>
									<li><a href="#" ng-click="gen.cambiarEstatus(generacion._id)">
							    				<i class="fa fa-{{generacion.estatus ? 'trash' : 'check' }}"></i> {{generacion.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>
