<h2>Tipos de Ingresos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{tiping.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse"
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevotipoingreso" ng-click="tiping.nuevoTipoIngresos()">
				{{tiping.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
				<div class="well">
					<div class="row">
						<div class="col-sm-12" valida>
					    <label>Nombre *</label>
				    	<input name="Nombre" type="text" class="form-control" placeholder="Nombre" ng-model="tiping.tipoingreso.nombre" required="">
			    	</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="tiping.guardar(tiping.tipoingreso,form)" value="Guardar" class="btn btn-primary" ng-show="tiping.action" valida-form formulario="form">
						<input type="submit" ng-click="tiping.actualizar(tiping.tipoingreso,form)" value="Actualizar" class="btn btn-primary" ng-show="!tiping.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="20%"><div class="text-center">Clave</div></th>
					<th width="55%"><div class="text-center">Nombre</div></th>				
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="tipoingreso in tiping.tiposingresos">
			    <td>{{$index + 1}}</td>
			    <td>{{tipoingreso.clave}} </td>
			    <td>{{tipoingreso.nombre}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="tipoingreso.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!tipoingreso.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
							    <li><a href="#" ng-click="tiping.editar(tipoingreso._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="tiping.cambiarEstatus(tipoingreso._id)">
							    				<i class="fa fa-{{tipoingreso.estatus ? 'trash' : 'check' }}"></i> {{tipoingreso.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>