<div class="row" ng-repeat="asignacion in ag.asignaciones">	
  <div class="col-sm-12 col-md-12">
    <div class="panel panel-default coupon">
      <div class="panel-heading" id="head">
        <div class="panel-title" id="title">
            <h4>{{asignacion.materia.nombreCorto}} - {{asignacion.materia.nombre}}<span class="pull-right">{{asignacion.grupo.grupoNombre}} - {{asignacion.grupo.grupoIdentificador}}</span></h4>
        </div>
      </div>
      <div class="panel-body">
	      <div class="col-sm-12 col-md-3">
					<ul class="items">
			      <li><a ui-sref="root.alumnoAsistencias({alumno_id : asignacion.alumno_id, grupo_id : asignacion.grupo._id, materia_id : asignacion.materia._id})"><i class="fa fa-eye"></i> Ver asistencia</a></li>
			      <li><a ui-sref="root.alumnoForos({grupo_id : asignacion.grupo._id})"><i class="fa fa-comments-o"></i> Foros</a></li>
			    </ul>
			    <div class="offer">
			      <span class="usd"><sup>#</sup></span>
			      <span class="number">{{mmg.alumnos.length}}</span>
			      <span class="cents"><sup>Alumnos</sup></span>
			    </div>
				</div>				
				<div class="col-sm-12 col-md-9">
					<div class="row-alumnos-fluid" style="overflow: auto;">
						<div class="col-lg-alumnos-3" ng-repeat="alumno in mmg.alumnos track by $index">			
	            <div class="card hovercard">
	                <div class="cardheader"></div>
	                <div class="avatar">
	                  <img ng-src="{{masgrupo.tieneFoto(alumno.sexo, alumno.fotografia)}}" class="img-responsive img-thumbnail">
	                </div>
	                <div class="info">
	                  <h3>
	                    <a target="_blank" href="/alumno/{{alumno._id}}">{{alumno.nombre}} {{alumno.apPaterno}}</a>
	                  </h3>
	                </div>
	            </div>			
						</div>	
					</div>
				</div>   
      </div>
      <div class="panel-footer">
        <div class="coupon-code">
            Día: {{ag.hoy | date:'EEEE'}}
            <span class="print">
                <a href="#" class="btn btn-link"><i class="fa fa-lg fa-print"></i> Imprimir</a>
            </span>
        </div>
        <div class="exp">Fecha:{{ ag.hoy | date:'dd-MM-yyyy'}}</div>
      </div>
    </div>
	</div>
</div>