<h2>Ocupaciones</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{oc.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse"
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevaocupacion" ng-click="oc.nuevaOcupacion()">
				 {{oc.nuevo == true ? 'Nuevo' : 'Cancelar'}}		
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
				<div class="well">
					<div class="row">
						<div class="col-sm-12" valida>
							<div class="col-sm-2">
								<label> Clave *</label>
								<input name="clave" type="text" class="form-control" placeholder="Clave" ng-model="oc.ocupacion.clave" required="" >
					    </div>
					    <div class="col-sm-8" valida>
						    <label>Nombre *</label>
					    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="oc.ocupacion.nombre" required="">
					    </div>
			    	</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="oc.guardar(oc.ocupacion,form)" value="Guardar" class="btn btn-primary" ng-show="oc.action" valida-form formulario="form">
						<input type="submit" ng-click="oc.actualizar(oc.ocupacion,form)" value="Actualizar" class="btn btn-primary" ng-show="!oc.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="20%"><div class="text-center">Clave</div></th>
					<th width="55%"><div class="text-center">Nombre</div></th>				
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="ocupacion in oc.ocupaciones">
			    <td>{{$index + 1}} </td>
			    <td>{{ocupacion.clave}} </td>
			    <td>{{ocupacion.nombre}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="ocupacion.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!ocupacion.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="oc.editar(ocupacion._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="oc.cambiarEstatus(ocupacion._id)">
							    				<i class="fa fa-{{ocupacion.estatus ? 'trash' : 'check' }}"></i> {{ocupacion.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


