<h2>Conceptos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{con.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoconcepto" ng-click="con.nuevoConcepto()">
		  {{con.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida>					    
				    	<label>Clave *</label>
				    	<input name="clave" type="text" class="form-control" placeholder="Clave" ng-model="con.concepto.clave" required>
			    	</div>
			    	<div class="col-sm-4" valida>
			    		<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="con.concepto.nombre" required>
			    	</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="nac.guardar(con.concepto,form)" value="Guardar" class="btn btn-primary" ng-show="con.action" valida-form formulario="form">
						<input type="submit" ng-click="nac.actualizar(con.concepto,form)" value="Actualizar" class="btn btn-primary" ng-show="!con.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Clave</div></th>
					<th width="20%"><div class="text-center">Nombre </div></th>
						
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="concepto in con.conceptos">
			    <td>{{concepto.clave}}</td>
			    <td>{{concepto.nombre}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="concepto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!concepto.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="nac.editar(concepto._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="nac.cambiarEstatus(concepto._id)">
							    				<i class="fa fa-{{concepto.estatus ? 'trash' : 'check' }}"></i> {{concepto.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


