<header id="header" style="height: 80px;">
	<div id="logo-group" style="float: right !important">
		<span id="logo"> <img src="/img/logoIcep.png" alt="Escuelas"> </span>
	</div>
	<div id="logo-group">
		<span id="logo"> <img src="/img/logoCasserole.png" alt="Escuelas"> </span>
	</div>
</header>
<div class="row">
	<div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-4 col-lg-offset-4">
		<div class="well no-padding">
			<form id="login-form" class="smart-form client-form" novalidate>
        <header>Recuperar Contraseña</header>
        <fieldset>
          <section>
            <label for="" class="label">correo</label>
            <label for="" class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" name="username" ng-model="lc.credentials.username">
            </label>
          </section>	
        </fieldset>	
        <footer>
          <button class="btn btn-primary" type="##" ng-click="##">Enviar correo</button>
        </footer>
      </form>
		</div>
	</div>
</div>