<nav>
	<ul data-smart-menu>
    <li data-ui-sref-active="active">
      <a ui-sref="root.home" tilte="Home">
        <i class="fa fa-lg fa-fw fa-home"></i>
        <span class="menu-item-parent">Panel de Control</span>
      </a>
    </li>
	  <li data-ui-sref-active="active">
	    <a ui-sref="root.alumnos" tilte="Inscripciones">
	      <i class="fa fa-lg fa-fw fa-users"></i>
	      <span class="menu-item-parent">Alumnos</span>
	    </a>
	  </li>
	  <li data-ui-sref-active="active">
	    <a ui-sref="root.inscripciones">
	      <i class="fa fa-lg fa-fw fa-pencil"></i>
	      <span class="menu-item-parent">Inscripciones</span>
	    </a>
	  </li>
	  <li data-ui-sref-active="active">
	    <a ui-sref="root.deudores">
	      <i class="fa fa-lg fa-fw fa-dollar"></i>
	      <span class="menu-item-parent">Deudores</span>
	    </a>
	  </li>
	</ul>
</nav>