<header id="header">
	<div id="logo-group">
		<span id="logo" style="margin-top: 0px !important;"> <img ng-if="ro.seccion.logo != undefined" ng-src="{{ro.seccion.logo}}" style="width: 110px;" alt="Escuelas"> </span>
		<!-- Pánel de mensajes para directores -->
		<div ng-if="ro.usuarioActual.roles[0] == 'director'">
			<div ng-include="'client/layouts/avisosDirector.html'"></div>
		</div>
		
		<!-- Pánel de mensajes para vendedores -->
		<div ng-if="ro.usuarioActual.roles[0] == 'vendedor'">
			<div ng-include="'client/layouts/avisosVendedor.html'"></div>
		</div>
	</div>
		
	
  <div class="pull-right">
    <div id="hide-menu" class="btn-header pull-right">
      <span>
        <a toggle-menu title="Collapse Menu">
          <i class="fa fa-reorder"></i>
        </a>
      </span>
    </div>
    
    <div class="btn-header pull-right">
      <span>
        <a ui-sref="anon.logout" title="Cerrar Sesión">
          <i class="fa fa-sign-{{ro.isLoggedIn() ? 'out' : 'in'}}"></i>
        </a>
      </span>
    </div>

    <div id="fullscreen" class="btn-header transparent pull-right">
      <span>
        <a full-screen title="Full Screen">
          <i class="fa fa-arrows-alt"></i>
        </a>
      </span>
    </div>
  </div>
</header>

<aside id="left-panel">
  <div class="login-info">
		<span ng-if="ro.usuarioActual._id">
			<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
				<img ng-if="ro.usuarioActual.profile.fotografia" ng-src="{{ro.usuarioActual.profile.fotografia}}" alt="yo" class="online"> 
				<img ng-if="!ro.usuarioActual.profile.fotografia" src="/img/avatars/male.png" alt="yo" class="online"> 
				<span>
					{{ro.usuarioActual.profile.nombre}} {{ro.usuarioActual.profile.apPaterno}} {{ro.usuarioActual.profile.apMaterno}}
				</span>
			</a>			
		</span>
	</div>
  <div ng-include=" 'client/layouts/left-nav.ng.html' "></div>
</aside>

<div id="main" role="main">
  <div id="ribbon">
	  <span class="ribbon-button-alignment"> 
			<span id="backbutton" back-button class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title=""><i class="fa fa-arrow-left"></i> Regresar</span> 
		</span>
	  <ol class="breadcrumb pull-right">
			<li>{{ro.campus.clave}} - {{ro.campus.descripcion}}</li>
			<li>{{ro.seccion.descripcion}}</li>
		</ol>
  </div>
  <div id="content" ui-view></div>
</div>