<button class="btn {{gc.nuevo == false ? 'btn-primary':'btn-danger'}}" type="button" data-toggle="collapse" data-target="#depositosForm" aria-expanded="false" style="margin-bottom:10px;" aria-controls="depositosForm" ng-click="gc.boton()">
  {{gc.nuevo == false ? 'Agregar depósito':'Cancelar'}}
</button>
<div class="row">
  <div class="col-sm-12">
    <div class="collapse" id="depositosForm">
			<div class="well col-sm-12">	
				<div class="row">
					<div class="form-group col-sm-4" valida>					    
					  <label>Semana</label>
				  	<div class="form-control">{{gc.semanaActual}}</div>
					</div>
					<div class="form-group col-sm-4" valida>
						<label for="fecha">Fecha</label>
						<input date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="gc.gasto.fecha" name="fecha" required/>
					</div>
					<div class="form-group col-sm-4" valida>
					  <label>Cuenta a nombre de</label>
				  	<input type="text" class="form-control"  ng-model="gc.gasto.aNombreDe" name="aNombreDe" required>
					</div>
					<div class="form-group col-sm-4" valida>
					  <label>Importe</label>
				  	<input type="number" class="form-control"  ng-model="gc.gasto.importe" name="importe" required>
					</div>
					<div class="form-group col-sm-4" valida>
						<label for="cuenta_id">Cuenta</label>
						<select class="form-control" placeholder="Seleccione" ng-model="gc.gasto.cuenta_id" name="cuenta_id" required>
						  <option ng-repeat="cuenta in gc.cuentas" value="{{cuenta._id}}">{{cuenta.nombre}}</option>
						</select>
					</div>
				</div>
				<a class="btn btn-primary pull-right" ng-click="gc.guardar(gc.gasto, form)" valida-form formulario="form">Guardar</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div ng-repeat="cuenta in gc.cuentas" class="col-sm-6">
		<table class="table table-striped table-bordered">
	    <thead>
	      <tr class="success">
	        <th align="center" colspan="2"><h4 align="center">Cobranza {{cuenta.nombre}}</h4></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(key, dia) in gc.diasActuales track by $index">
	        <td >{{dia}}</td>
	        <td align="right" class="hidden-xs">{{gc.importeDiarioPagos(key+1, cuenta._id) | currency}}</td>
	      </tr>
	      <tr>
	      	<td><strong>Total</strong></td>
	      	<td align="right">{{gc.importeSemanalPagos(cuenta._id) | currency}}</td>
	      </tr>
	    </tbody>
	  </table>

	  <table class="table table-striped table-bordered">
	  	<thead>
	  		<tr class="success">
	        <th align="center" colspan="4"><h4 align="center">Depósitos {{cuenta.nombre}}</h4></th>
	      </tr> 
	  		<tr ng-if="cuenta.depositos.length > 0">
	  			<th width="10%"></th>
	  			<th>Fecha</th>
	  			<th>A nombre de</th>
	  			<th>Importe</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr ng-repeat="deposito in cuenta.depositos">
	  			<td align="center">
	          <a ng-click="gc.cambiarEstatus(deposito)" class="btn btn-danger"><em class="fa fa-trash"></em></a>
	        </td>
	  			<td>{{deposito.fecha | date:"dd/MM/yyyy"}}</td>
	  			<td>{{deposito.aNombreDe}}</td>
	  			<td align="right">{{deposito.importe | currency}}</td>
	  		</tr>
	  	</tbody>
	  </table>
	  <table class="table table-striped table-bordered table-list">
	  	<tbody>
	      <tr ng-if="cuenta.inscripcion">
	      	<td>Restos de inscripción</td>
	      	<td align="right">{{ gc.restosInscripcion(cuenta._id) | currency}}</td>
	      </tr>
	      <tr ng-if="cuenta.inscripcion">
	      	<td>Gastos de R.P y Adtvo.</td>
	      	<td align="right">{{ gc.gastosRelaciones(cuenta._id) | currency}}</td>
	      </tr>
	    	<tr>
	      	<td><strong>Total:</strong></td>
	      	<td align="right">{{cuenta.totalDepositos + gc.restosInscripcion(cuenta._id) +  gc.gastosRelaciones(cuenta._id) | currency}}</td>
	      </tr>
	      <tr>
	      	<td><strong>Resta por pagar</strong></td>
	      	<td align="right">{{gc.importeSemanalPagos(cuenta._id) - (cuenta.totalDepositos + gc.restosInscripcion(cuenta._id) +  gc.gastosRelaciones(cuenta._id)) | currency}}</td>
	      </tr>
	  	</tbody>
	  </table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<caption><h4>Listado de Depósitos</h4></caption>
			<thead class="thead">
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">Fecha</th>
					<th class="text-center">A nombre</th>
					<th class="text-center">Cuenta</th>
					<th class="text-center">Tipo Gasto</th>
					<th class="text-center">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gasto in gc.gastos">
					<td class="text-center">{{$index + 1}}</td>
					<td class="text-center">{{ gasto.fecha | date:"dd-MM-yyyy hh:mm:ss" }}</td>
					<td>{{ gasto.aNombreDe }}</td>
					<td class="text-center">{{ gasto.cuenta.nombre }}</td>
					<td class="text-center">Depósitos</td>
					<td class="text-center">{{ gasto.importe | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $("select").select2({dropdownAutoWidth: 'true', width : "100%"});
	})
</script>