<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa-fw fa fa-dollar"></i> Gastos - Semana {{da.semanaActual}} - Año {{da.anio}}
		</h1>		
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<form class="form-inline">
			<div class="form-group">
				<label for="semanaActual">Semana</label>
				<input name="semanaActual" type="number" min="0" max="52" ng-model="da.semanaActual" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="anio">Año</label>
				<input name="anio" type="number" ng-model="da.anio" class="form-control"/>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered">
			<caption><h4>Listado de Gastos con Cheque</h4></caption>
			<thead class="thead">
				<tr>
					<th width="10%">No.</th>
					<th width="25%">Fecha</th>
					<th width="30%">Concepto</th>
					<th width="15%">No Cheque</th>					
					<th width="15%">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gasto in da.gastosCheque">
					<td>{{$index + 1}}</td>
					<td>{{ gasto.fechaLimite | date:"dd-MM-yyyy hh:mm:ss" }}</td>
					<td>{{ gasto.concepto.nombre }}</td>
					<td ng-class="{'text-right negritas':$last}">{{ gasto.chequeReferenciado }}</td>					
					<td class="text-right" ng-class="{'txt-color-green negritas':$last}">{{ gasto.importe | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered">
			<caption><h4>Listado de Gastos de Relaciones</h4></caption>
			<thead class="thead">
				<tr>
					<th width="10%">No.</th>
					<th width="25%">Fecha</th>
					<th width="30%">Concepto</th>
					<th width="15%">Registros</th>
					<th width="15%">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gasto in da.gastosRelaciones">
					<td>{{$index + 1}}</td>
					<td>{{ gasto.fechaLimite | date:"dd-MM-yyyy hh:mm:ss" }}</td>
					<td>{{ gasto.concepto.nombre }}</td>
					<td ng-class="{'text-right negritas':$last}">{{ gasto.registros }}</td>
					<td class="text-right" ng-class="{'txt-color-green negritas':$last}">{{ gasto.importe | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered">
			<caption><h4>Listado de Gastos por Depósitos</h4></caption>
			<thead class="thead">
				<tr>
					<th width="10%">No.</th>
					<th width="25%">Fecha</th>
					<th width="30%">A nombre</th>
					<th width="20%">Cuenta</th>
					<th width="15%">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gasto in da.gastosDepositos">
					<td>{{$index + 1}}</td>
					<td>{{ gasto.fecha | date:"dd-MM-yyyy hh:mm:ss" }}</td>
					<td>{{ gasto.aNombreDe }}</td>
					<td ng-class="{'text-right negritas':$last}">{{ gasto.cuenta.nombre }}</td>
					<td class="text-right" ng-class="{'txt-color-green negritas':$last}">{{ gasto.importe | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped table-bordered">
			<caption><h4>Listado de Gastos de Administración</h4></caption>
			<thead class="thead">
				<tr>
					<th width="10%">No.</th>
					<th width="25%">Fecha</th>
					<th width="50%">Concepto</th>
					<th width="15%">Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gasto in da.gastosAdmon">
					<td>{{$index + 1}}</td>
					<td>{{ gasto.fechaLimite | date:"dd-MM-yyyy hh:mm:ss" }}</td>
					<td ng-class="{'text-right negritas':$last}">{{ gasto.concepto.nombre }}</td>
					<td class="text-right" ng-class="{'txt-color-green negritas':$last}">{{ gasto.importe | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>