<div class="row">
	<div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tabcheques" data-toggle="tab" ng-click="gc.cambiar('Cheques')">Cuenta de cheques</a></li>
          <li><a href="#tabrelaciones" data-toggle="tab" ng-click="gc.cambiar('Relaciones')">Comisiones de Relaciones Públicas</a></li>
          <li><a href="#tabadmon" data-toggle="tab" ng-click="gc.cambiar('Admon')">Comisiones Administrativas</a></li>
          <li><a href="#tabdepositos" data-toggle="tab" ng-click="gc.cambiar('Depositos')">Depósitos Realizados</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
        <form name="form" novalidate>
          <div class="tab-pane fade in active" id="tabcheques">
          	<cheques ng-if="gc.tipoGasto == 'Cheques'"></cheques>
          </div>
          <div class="tab-pane fade" id="tabrelaciones">
						<relaciones ng-if="gc.tipoGasto == 'Relaciones'"></relaciones>
          </div>
          <div class="tab-pane fade" id="tabadmon">
						<admon ng-if="gc.tipoGasto == 'Admon'"></admon>
          </div>
          <div class="tab-pane fade" id="tabdepositos">
						<depositos ng-if="gc.tipoGasto == 'Depositos'"></depositos>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
</div>