<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-pencil-square-o fa-fw "></i> 
				Asistente de
			<span>&gt; 
				Inscripción para alumnos existentes
			</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-primary" ui-sref="root.inscripciones">
		  Listar Inscripciones
		</a>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<div class="jarviswidget jarviswidget-sortable" id="wid-id-0" role="widget">
			<header role="heading">
				<span class="widget-icon"> <i class="fa fa-check"></i> </span>
				<h2>Proceso de Inscripción </h2>
				<div class="widget-toolbar hidden-mobile" role="menu">
					<span class="onoffswitch-title"><i class="fa fa-info"></i>&nbsp;&nbsp;&nbsp;&nbsp; Carga inicial</span>
					<span class="onoffswitch">
						<input type="checkbox" ng-model="ins.esNuevaInscripcion" ng-change="ins.cambioEsNuevaInscripcion()" name="onoffswitch" class="onoffswitch-checkbox" checked="checked" id="myonoffswitch">
						<label class="onoffswitch-label" for="myonoffswitch"> 
							<span class="onoffswitch-inner" data-swchon-text="SI" data-swchoff-text="NO"></span> 
							<span class="onoffswitch-switch"></span> 
						</label> 
					</span>
				</div>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div role="content">
				<div class="jarviswidget-editbox">
				</div>
				<div class="widget-body">	
					<div class="row">
						<form name="form" class="form-horizontal" role="form" novalidate>
							<div id="bootstrap-wizard-1" class="col-sm-12">
								<div class="form-bootstrapWizard">
									<ul class="bootstrapWizard form-wizard">
										<li class="active" data-target="#step1">
											<a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Información Básica</span></a>
										</li>
										<li data-target="#step2">
											<a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Información Académica</span></a>
										</li>
										<li data-target="#step3">
											<a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Ubicar al Alumno</span></a>
										</li>
										<li data-target="#step4">
											<a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Cobro</span></a>
										</li>
										<li data-target="#step5">
											<a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span class="title">Finalizar Inscripción</span></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="tab-content">
									<div class="tab-pane active" id="tab1">
										<br>
										<h3><strong>Paso 1 </strong> - Información Básica</h3>
										<div class="row">
											<div class="col-sm-12">												
										  	<div class="well">
											    <div class="row">
														<div class="col-sm-8">
															Información del alumno
															{{ins.alumno.profile.nombreCompleto}} 
														</div>
														<div class="col-sm-3">
															<label for="fechaNac">Fecha de Inscripción</label>
															<input date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="year" min-view="date" ng-model="ins.inscripcion.fechaInscripcion" required="" />
														</div>
											    </div>
										  	</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="tab2">
										<br>
										<h3><strong>Paso 2</strong> - Información Académica</h3>
	
										<div class="row">
											<div class="col-sm-12">
												<div class="well">												
											    <div class="row">
											    	<div class="col-sm-4" valida>
															<label>Sección *</label>
															<select name="seccion" class="form-control" ng-model="ins.inscripcion.seccion_id" ng-change="ins.getGrupos(ins.inscripcion.seccion_id, ins.inscripcion.alumno_id)" required="">
															  <option value="{{seccion._id}}" ng-repeat="seccion in ins.secciones">
															  	{{seccion.nombreseccion}}
															  </option>
															</select>
														</div>
														<div class="col-sm-4" valida>
															<label >Ciclo Escolar *</label>
															<select name="cicloescolar" class="form-control" placeholder="Seleccione" ng-model="ins.inscripcion.ciclo_id">
															  <option  value="{{ciclo._id}}" ng-repeat="ciclo in ins.ciclos">
															  	{{ciclo.nombre}}
															  </option>
															</select>
																
										
														</div>
											    	<!--<div class="col-sm-6">
												    	<label >Sección</label>
															<select class="form-control" placeholder="Seleccione" ng-model="ins.inscripcion.seccion_id" ng-change="ins.getGrupos(ins.inscripcion.seccion_id, ins.inscripcion.alumno_id)">
															  <option value="{{seccion._id}}" ng-repeat="seccion in ins.secciones">
															  	{{seccion.descripcion}}
															  </option>
															</select>
															
														</div>-->
														<div class="col-sm-4" valida>
															<label >Tipo de Ingreso *</label>
															<select name="tipoingreso" class="form-control" placeholder="Seleccione" ng-model="ins.inscripcion.tiposIngreso_id" required="">
															  <option  ng-repeat="tiposIngreso in ins.tiposIngresos">
															  	{{tiposIngreso.nombre}}
															  </option>
															</select>
															<!--<ui-select ng-model="inscripcion.tipoIngreso_id"
														             theme="bootstrap"
														             ng-disabled="disabled"
														             reset-search-input="false">
														    <ui-select-match placeholder="Seleccione">{{$select.selected.descripcion}}</ui-select-match>
														    <ui-select-choices repeat="tipoIngreso._id as tipoIngreso in tiposIngresos | filter: $select.search">
														      <div ng-bind-html="tipoIngreso.descripcion | highlight: $select.search"></div>
														    </ui-select-choices>
														  </ui-select>-->
														</div>
											    </div>
											    
										  	</div>	
											</div>
										</div>
									</div>
									<div class="tab-pane" id="tab3">
										<br>
										<h3><strong>Paso 3</strong> - Ubicar al Alumno</h3>
										<div class="row">
											<div class="col-sm-12">
												<div class="well">
											    <div class="row">
											  		<div class="col-sm-3" valida>												  		
															<label >Grupo *</label>
															<select name="grupo" class="form-control" placeholder="Seleccione" ng-model="ins.inscripcion.grupo_id" ng-change="ins.hayCupo(ins.inscripcion.grupo_id)" required="">
															  <option value="{{grupo._id}}" ng-repeat="grupo in ins.grupos">
															  	{{grupo.identificador}}
															  </option>
															</select>
											  		</div>														  
													  <div class="col-sm-1" style="text-align: left">
														  <div style="display: inline-block; vertical-align: auto; float: none;">
															  <label>Cupo</label>
														  	<p class="text-center text-{{ins.cupo == 'check' ? 'success' : 'danger'}}">
															  	<strong><i class="fa fa-{{ins.cupo}} fa-lg"></i></strong>
															  </p>
														  </div>															  
														</div>
											  	</div>
										  	</div>	
											</div>
										</div>
									</div>
									<div class="tab-pane" id="tab4">
										<br>
										<h3><strong>Paso 4</strong> - Cobros Iniciales</h3>
										<div class="well">	 
									  	<!--
										  <div class="panel panel-default">
												<div class="panel-heading">Conceptos de Inscripción</div>
													<div class="panel-body">
													</div>
													<label ng-repeat="concepto in ins.inscripcion.planPagos.inscripcion.conceptos">
														<input type="checkbox" ng-model="concepto.estatus" ng-change="ins.cambiarConceptosInscripcion()" >
														{{concepto.nombre}}: {{concepto.importe}}
													</label>
												</div>
											</div>
											-->
													
											<div class="panel panel-default">
												<div class="panel-heading">Configuración de Colegiatura</div>
												<div class="panel-body">
													<div class="col-sm-4">
														<table class="table table-striped">
															<tr>
																<th>Sel.</th>
																<th>Concepto</th>
																<th>Importe</th>
															</tr>
															<tr ng-repeat-start="concepto in ins.inscripcion.planPagos.inscripcion.conceptos">
																<td><input type="checkbox" ng-model="concepto.estatus" ng-change="ins.cambiarConceptosInscripcion()" ></td>
																<td>{{concepto.nombre}}</td>
																<td class="text-right">{{concepto.importe | currency}}</td>
															</tr>
															<tr  ng-repeat-end></tr>
														</table>
													</div>
													<div class="col-sm-8">
														<table class="table table-striped">
															<tr>
																<th>Sel.</th>
																<th>Tipo</th>
																<th>Pagos</th>
																<th class="col-sm-1">Colegiatura</th>
															</tr>
															<tr>
																<td>
																	<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Semanal"  ng-change='ins.cambioTipoColegiatura("Semanal")'>
																</td>
																<td>Semanal</td>
																<td>{{ins.inscripcion.planPagos.colegiatura.Semanal.totalPagos}}</td>
																<td class="text-right">
																	<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Semanal.conceptos">{{concepto.importe | currency}} </p>
																</td>
															</tr>
															<tr>
																<td>
																	<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Quincenal"  ng-change='ins.cambioTipoColegiatura("Quincenal")'>
																</td>
																<td>Quincenal</td>
																<td>{{ins.inscripcion.planPagos.colegiatura.Quincenal.totalPagos}}</td>
																<td class="text-right">
																	<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Quincenal.conceptos">{{concepto.importe | currency}} </p>
																</td>
															</tr>
															<tr>
																<td>
																	<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Mensual"  ng-change='ins.cambioTipoColegiatura("Mensual")'>
																</td>
																<td>Mensual</td>
																<td>{{ins.inscripcion.planPagos.colegiatura.Mensual.totalPagos}}</td>
																<td class="text-right">
																	<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Mensual.conceptos">{{concepto.importe | currency}} </p>
																</td>
															</tr>
															<tr>
																<td colspan="3" class="text-right"><h2>Total :</h2></td>
																<td class="text-right">
																	<h2 class="text-success">{{ins.inscripcion.totalPagar | currency}} </h2>
																</td>
															</tr>
														</table>
													</div>
<!--
													<div  >
													  	<label> 
													  		<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Semanal"  ng-change='ins.cambioTipoColegiatura("Semanal")'>
													  		Semanal
													  		<div >
													  			<p>Total de pagos: {{ins.inscripcion.planPagos.colegiatura.Semanal.totalPagos}} </p>
													  			<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Semanal.conceptos">Cuota de {{concepto.nombre}}: {{concepto.importe}} </p>
													  												  			
													  		</div>
													  	</label>	  		
													</div>
													<div  >
													  	<label> 
													  		<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Quincenal"  ng-change='ins.cambioTipoColegiatura("Quincenal")'>
													  		Quincenal
													  		<div >
													  			<p>Total de pagos: {{ins.inscripcion.planPagos.colegiatura.Quincenal.totalPagos}} </p>
													  			<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Quincenal.conceptos">Cuota de {{concepto.nombre}}: {{concepto.importe}} </p>
													  		</div>
													  	</label>	  		
													</div>
													<div  >
													  	<label> 
													  		<input type="radio" name="rbColegiatura" ng-model="ins.inscripcion.planPagos.colegiatura.tipoColegiatura"  value="Mensual"  ng-change='ins.cambioTipoColegiatura("Mensual")'>
													  		Mensual
													  		<div >
													  			<p>Total de pagos: {{ins.inscripcion.planPagos.colegiatura.Mensual.totalPagos}} </p>
													  			<p ng-repeat="concepto in ins.inscripcion.planPagos.colegiatura.Mensual.conceptos">Cuota de {{concepto.nombre}}: {{concepto.importe}} </p>
													  												  			
													  		</div>
													  	</label>	  		
													</div>
-->
												</div>
											</div>
										</div>
										
										<br>
										<div class="row">
											
											<div class="col-sm-4 col-sm-offset-8">
												<div class="row">
													<div class="col-sm-12">
														<label>Vendedor</label>
														<select class="form-control" ng-model="ins.inscripcion.vendedor_id">
													    	<option value="{{vendedor._id}}" ng-repeat="vendedor in ins.vendedores">{{vendedor.profile.nombre}} {{vendedor.profile.apPaterno}} {{vendedor.profile.apMaterno}}</option>
												    	</select>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12">
														<label>Cuánto paga</label>
														<input type="number" class="form-control" ng-model="ins.inscripcion.importePagado" ng-change="ins.cuantoPaga(ins.inscripcion.importePagado)" min="{{ ins.comisionObligada }}"/>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-12">
														<label>Cambio</label>
														<input type="number" class="form-control" ng-model="ins.inscripcion.cambio" disabled />
													</div>
												</div>
												
											</div>
										</div>
									</div>
									<div class="tab-pane" id="tab5">
										<div class="row">
											<div class="col-sm-12">
												<br>
												<h3><strong>Paso 5</strong> - Guardar Inscripción</h3>
												<br>
												<div class="text-center">
													<h4>Click en Inscribir para Finalizar</h4>
													<br/>
													<button ng-click="ins.guardar(ins.inscripcion)" class="btn btn-lg btn-primary">Inscribir</button>
													<br>
													<br>
												</div>												
											</div>
										</div>										
									</div>	
									<div class="form-actions">
										<div class="row">
											<div class="col-sm-12">
												<ul class="pager wizard no-margin">
													<!--<li class="previous first disabled">
													<a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
													</li>-->
													<li class="previous disabled">
														<a href="javascript:void(0);" class="btn btn-lg btn-default"> Atrás </a>
													</li>
													<!--<li class="next last">
													<a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
													</li>-->
													<li class="next">
														<a href="javascript:void(0);" class="btn btn-lg txt-color-darken btn-primary" id="bootstrap-wizard-1"> Siguiente </a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#bootstrap-wizard-1').bootstrapWizard({
    'tabClass': 'form-wizard',
    'onNext': function (tab, navigation, index) {      
      $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
      $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
    }
  });
</script>
