<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i> 
				Asistente para Inscripciones
			<span>&gt; 
				Listar
			</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="input-group">
			<div class="input-group-btn">
				<a href="./nuevaInscripcion" class="btn btn-default btn-primary">
					<i class="fa fa-plus"></i> Nuevo
				</a>
			</div>
			<input class="form-control" type="text" placeholder="Buscar..." id="buscar" ng-model="ins.buscar.nombre" ng-change="ins.getInscripciones()">
			<div class="input-group-btn">
				<a href="#" ng-click="ins.getInscripciones()" class="btn btn-default">
					<i class="fa fa-search"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col-sm-12">
		<table class="table table-striped table-bordered">			
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="10%"><div class="text-center">Matrícula</div></th>
					<th width="15%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">Ciclo</div></th>
					<th width="15%"><div class="text-center">Sección</div></th>
					<th width="10%"><div class="text-center">Grupo</div></th>
					<th width="15%"><div class="text-center">Plan de Estudio</div></th>
					<th width="10%"><div class="text-center">Plan Pago</div></th>
					<th width="10%"><div class="text-center">Fecha</div></th>
					<th width="10%" class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody class="font-sm">				
				<tr ng-repeat="_inscripcion in ins.inscripciones" >
					<td>{{ $index + 1 }}</td>
					<td><a ui-sref="root.alumnoDetalle({alumno_id:_inscripcion.alumno_id})">{{_inscripcion.alumno.profile.matricula}}</a></td>
					<td><a href="./alumnos/{{_inscripcion.alumno_id}}">{{_inscripcion.alumno.profile.nombreCompleto}}</a></td>
					<td>{{_inscripcion.ciclo.nombre}}</td>
					<td>{{_inscripcion.seccion.descripcion}}</td>
					<td><a href="./gruposDetalle/{{_inscripcion.grupo_id}}">{{_inscripcion.grupo.nombre}}</a></td>
					<td>{{_inscripcion.planEstudio.descripcion}}</td>
					<td>{{_inscripcion.planPagos.colegiatura.tipoColegiatura}}</td>
					<td>{{_inscripcion.fechaInscripcion | date:"dd-MM-yyyy"}}</td>
					<td class="text-center">
					 <button class="btn btn-primary" ng-click="ins.cambiarEstatus(_inscripcion._id, _inscripcion.estatus)" ng-show="_inscripcion.estatus == 0"><i class="fa fa-check"></i></button>
					 <button class="btn btn-danger" ng-click="ins.cambiarEstatus(_inscripcion._id, _inscripcion.estatus)" ng-show="_inscripcion.estatus == 1"><i class="fa fa-close"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>