<h2>Avisos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{av.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoaviso" ng-click="av.nuevoAviso()">
		  {{av.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida>
				    	<label>Título *</label>
					    <input name="titulo" type="text" class="form-control" ng-model="av.aviso.titulo" required>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-10" valida>
				    	<label>Descripción *</label>
					     <input name="descripcion" type="textarea" class="form-control" ng-model="av.aviso.descripcion" required>
			    	</div>	
			    </div>
			    <div class="row">
				  	<div class="col-sm-4" valida>
								<label >Agregar Campus *</label>
								<select multiple="true" name="campusids" class="form-control" placeholder="Seleccione" ng-model="av.aviso.campusids" required>
									<option value="{{campu._id}}" ng-repeat="campu in av.campus">
											{{campu.nombre}}
									</option>
								</select>
						</div> 
			  </div>  
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" value="Guardar" ng-click="av.guardar(av.aviso,form)" class="btn btn-primary" ng-show="av.action" valida-form formulario="form">
						<input type="submit" ng-click="av.actualizar(av.aviso,form)" value="Actualizar" class="btn btn-primary" ng-show="!av.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20%"><div class="text-center">Título</div></th>
					<th width="15%"><div class="text-center">Descripción</div></th>					
					<th width="15%"><div class="text-center">Campus</div></th>		
					<th width="10%"><div class="text-center">Estado Envio</div></th>			
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="aviso in av.avisos">
			    <td>{{aviso.titulo}} </td>
			    <td>{{aviso.descripcion}}</td>
			    <td>{{av.getCampus(aviso.campusids)}}</td>
			    <td>{{aviso.estadoEnvio}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="aviso.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!aviso.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left dropdown-menu-right">
							    <li><a href="#" ng-click="av.editar(aviso._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="av.cambiarEstatus(aviso._id)">
							    				<i class="fa fa-{{aviso.estatus ? 'trash' : 'check' }}"></i> {{aviso.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>





