<h2>Instituciones</h2>
<div class="row">
	<div class="col-sm-12">
		<a  ng-show="instituciones.length == 0" class="btn btn-{{nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevaInstitucion" ng-click="nuevaInstitucion()">
		  {{nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate >
		  	<div class="well">
			    <div class="row">
			    	<div class="col-sm-4">					    
				    	<label>Nombre de la Institución</label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="institucion.nombre" required>
			    	</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="guardar(institucion)" value="Guardar" class="btn btn-primary" ng-show="action" valida-form formulario="form">
						<input type="submit" ng-click="actualizar(institucion)" value="Actualizar" class="btn btn-primary" ng-show="!action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="80%"><div class="text-center">Nombre de la Institución</div></th>
					<th width="20%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="institucion in instituciones">
		    	<td>{{institucion.nombre}}</td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu text-left">
						    <li><a href="#" ng-click="editar(institucion._id)"><i class="fa fa-pencil"></i> Editar</a></li>
						  </ul>
						</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>