<h2>Documentos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{doc.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevodocumento" ng-click="doc.nuevoDocumento()">
		  {{doc.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>		
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4" valida>					    
				    	<label>Documento *</label>
				    	<input name="documento" type="text" class="form-control" placeholder="Nombre de documento" ng-model="doc.documento.nombre" required>
			    	</div>    	   			    
			    </div>
			</div> 
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="doc.guardar(doc.documento,form)" value="Guardar" class="btn btn-primary" ng-show="doc.action" valida-form formulario="form">
						<input type="submit" ng-click="doc.actualizar(doc.documento,form)" value="Actualizar" class="btn btn-primary" ng-show="!doc.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="75%"><div class="text-center">Nombre</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="documento in doc.documentos">
			    <td>{{$index + 1}}</td>			    
			    <td>{{documento.nombre}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="documento.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!documento.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="doc.editar(documento._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="doc.cambiarEstatus(documento._id)">
							    				<i class="fa fa-{{documento.estatus ? 'trash' : 'check' }}"></i> {{documento.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


