<h2>Vendedores</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{v.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="v.nuevoVendedor()">
			{{v.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">
			    <div class="row">
				    <div class="col-sm-12" valida>					    
				    	<label>Gerente *</label>
				    	<select name="gerente" class="form-control" ng-model="v.vendedor.profile.gerenteVenta_id" required>
					    	<option value="{{gerente._id}}" ng-repeat="gerente in v.gerentesVenta">{{gerente.profile.nombre}} {{gerente.profile.apPaterno}} {{gerente.profile.apMaterno}}</option>
				    	</select>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
			    		<label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="v.vendedor.profile.nombre" required>
			    	</div>

			    	<div class="col-sm-4" valida>
			    		<label>Apellido Paterno *</label>
				    	<input name="apellidoPaterno" type="text" class="form-control" placeholder="Apellido Paterno" ng-model="v.vendedor.profile.apPaterno" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="v.vendedor.profile.apMaterno">
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="v.vendedor.profile.direccion">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono *</label>
				    	<input name="telefono" type="text" class="form-control" placeholder="Teléfono" ng-model="v.vendedor.profile.telefono" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo *</label>
				    	<input name="correo" type="email" class="form-control" placeholder="Correo" ng-model="v.vendedor.profile.correo" required>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4" valida>
					    <label for="sexo">Sexo *</label>
					    <select name="sexo" ng-model="v.vendedor.profile.sexo" data-placeholder="Seleccione" class="form-control" required>
							    <option value=""></option>
							    <option value="masculino">Masculino</option>
							    <option value="femenino">Femenino</option>
							</select>
			    	</div>
			    	<div class="col-sm-4">
							<label for="talla">Fotografía</label>
							<button class="btn btn-primary" ng-click="v.tomarFoto()"><i class="fa fa-camera"></i></button>
							<img width="100px" ng-src="{{v.vendedor.profile.fotografia}}" ng-class="{'img-thumbnail': !v.vendedor.profile.fotografia}" />
						</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-4" ng-class="!v.validaContrasena == true ? 'has-error' : 'has-success'">					    
				    	<label>Contraseña *</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" 
				    	ng-model="v.vendedor.password" 
				    	ng-disabled="v.cambiarPassword"
				    	ng-change="v.validarContrasena(v.vendedor.password, v.vendedor.confirmarContrasena)">
			    	</div>		    				    	    
			    	<div class="col-sm-4" ng-class="!v.validaContrasena == true ? 'has-error' : 'has-success'">					    
				    	<label>Confirmar Contraseña *</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" 
				    	ng-model="v.vendedor.confirmarContrasena" 
				    	ng-disabled="v.cambiarPassword"
				    	ng-change="v.validarContrasena(v.vendedor.password, v.vendedor.confirmarContrasena)">
				    	<div class="note note-success" ng-if="!v.validaContrasena == true && v.vendedor.confirmarContrasena.length > 0">Las contraseñas no coinciden.</div>
						</div>
						<div class="col-sm-4"> 
							<button class="btn btn-primary btn-sm" ng-click="v.cambiarContrasena()">{{(v.cambiarPassword == true) ? 'Cambiar Contraseña' : 'No cambiar'}}</button>
						</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="v.guardar(v.vendedor,form)" value="Guardar" class="btn btn-primary" ng-show="v.action" valida-form formulario="form" />
						<input type="submit" ng-click="v.actualizar(v.vendedor,form)" value="Actualizar" class="btn btn-primary" ng-show="!v.action" valida-form formulario="form" />				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td width="5%"><div class="text-center">No.</div></td>
					<td width="15%"><div class="text-center">Gerente</div></td>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="20%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">Usuario </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="vendedor in v.vendedores">
			    <td>{{$index + 1}}</td>
			    <td>{{v.getGerenteVenta(vendedor.profile.gerenteVenta_id)}}</td>
		    	<td><img width="100px" ng-src="{{vendedor.profile.fotografia}}" ng-class="{'img-thumbnail': !!vendedor.fotografia}"/> </td>
			    <td>{{vendedor.profile.nombre}} {{vendedor.profile.apPaterno}} {{vendedor.profile.apMaterno}} </td>
			    <td>{{vendedor.username}} </td>
			    <td>{{vendedor.profile.telefono}} </td>
			    <td>{{vendedor.profile.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="vendedor.profile.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!vendedor.profile.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
							    <li><a href="#" ng-click="v.editar(vendedor._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="v.cambiarEstatus(vendedor._id)">
							    				<i class="fa fa-{{vendedor.profile.estatus ? 'trash' : 'check' }}"></i> {{vendedor.profile.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


