<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i> 
				Planes de Estudio
			<span>&gt; 
				Listar
			</span>
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-primary" href="./nuevoPlanEstudios" ng-click="pl.nuevoPlan()">
		  Nuevo
		</a>
	</div>
</div>
<br>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>					
					<th width="10%"><div class="text-center">Clave</div></th>
					<th width="30%"><div class="text-center">Descripción</div></th>
					<th width="10%"><div class="text-center">Tipo</div></th>					
					<th width="10%"><div class="text-center">Grados</div></th>	
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="_plan in pl.planesEstudios">
			    <td class="text-center"> {{$index + 1}}</td>			    
			    <td class="text-center"> {{_plan.clave}}</td>
			    <td> {{_plan.descripcion}}</td>			    
			    <td class="text-center"> {{_plan.tipo=='Baja'? 'Interno':'Externo'}}</td>
			    <td class="text-center"> {{_plan.grado}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="_plan.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!_plan.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu dropdown-menu-right text-left">
<!-- 							    <li><a href="./planEstudios/{{_plan._id}}"><i class="fa fa-eye"></i> Ver</a></li> -->
							    <li><a href="./editarPlanEstudios/{{_plan._id}}"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="pl.cambiarEstatus(_plan._id)">
							    				<i class="fa fa-{{_plan.estatus ? 'trash' : 'check' }}"></i> {{_plan.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
  </div>
</div>