<h2>Materias</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{mat.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevaMateria" 
				ng-click="mat.nuevaMateria()">
		  {{mat.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">		  		
			    <div class="row">			    	
			    	<div class="col-sm-3" valida>
						  <label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control"  ng-model="mat.materia.nombre" required="">
			    	</div>
			    	<div class="col-sm-2" valida>
						  <label>Nombre Corto *</label>
				    	<input name="nombreCorto" type="text" class="form-control"  ng-model="mat.materia.nombreCorto" required="" maxlength="6">
			    	</div>
			    	<div class="col-sm-2" valida>					    
						  <label>Semanas Duración *</label>
				    	<input name="semanas" type="number" class="form-control"  ng-model="mat.materia.semanas" required="">
			    	</div>
			    	<div class="col-sm-5" valida>
							<label>Departamento Académico *</label>
							<select name="deptoAcademico" class="form-control" placeholder="Seleccione" ng-model="mat.materia.deptoAcademico_id" required="">
								<option ng-repeat="depto in mat.deptosAcademicos" value="{{depto._id}}" ng-selected="$index == 0">{{depto.descripcionCorta}}</option>
							</select>
						</div>
			    </div>
			    <div class="row">
			    	<div class="col-sm-12">
				    	<label>Temario</label>
			    		<textarea class="form-control" rows="8" ng-model="mat.materia.temario"></textarea>
			    	</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="mat.guardar(mat.materia,form)" value="Guardar" class="btn btn-primary" ng-show="mat.action" valida-form formulario="form"/>
						<input type="submit" ng-click="mat.actualizar(mat.materia,form)" value="Actualizar" class="btn btn-primary" ng-show="!mat.action" valida-form formulario="form"/>				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="45%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Nombre Corto</div></th>	
					<th width="15%"><div class="text-center">Cant. Semanas</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="materia in mat.materias">
			    <td>{{$index + 1}}</td>			    
			    <td>{{materia.nombre}}</td>
			    <td>{{materia.nombreCorto}}</td>
			    <td>{{materia.semanas}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="materia.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!materia.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="mat.editar(materia._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="mat.cambiarEstatus(materia._id)">
							    				<i class="fa fa-{{materia.estatus ? 'trash' : 'check' }}"></i> {{materia.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>